.container {
    height: 100vh;
    width: 100vw;
    background: -webkit-linear-gradient(0deg, rgb(11, 146, 146), rgb(46, 101, 157));
    background: -moz-linear-gradient(0deg, rgb(11, 146, 146), rgb(46, 101, 157));
    background: linear-gradient(0deg, rgb(11, 146, 146), rgb(46, 101, 157));
    display: flex;
    justify-content: center;
    align-items: center;
    perspective: 320px;
}
.calculator {
    height: 96vh;
    width: 35vw;
    background-color: #241571;
    display: flex;
    border: 1px solid #ffffff;
    border-radius: 20px;
    -webkit-box-shadow: 0px 0px 30px 6px rgb(5, 25, 57);
    -moz-box-shadow: 0px 0px 30px 6px rgb(5, 25, 57);
    box-shadow: 0px 0px 30px 6px rgb(5, 25, 57);
    flex-direction: column;
    position: relative;
    justify-content: space-between;
    align-items: center;
    
}
.calculator_screen {
    margin-top: 15px;
    width: 90%;
    height: 15%;
    background-color: #0b0c00;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.calculator_buttons {
    height: 80%;
    width: 90%;
    margin-bottom: 3%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.calculator_buttons--maths {
    display: flex;
    height: 15%;
    margin-bottom: 10px;
    gap: 1px;
}
.math--item {
    width: 25%;
    height: 100%;
    background-color: #99ffc3;
    border-radius: 10px;
    transition: all 0.1s ease;
}
.math--item:active {
  transform: translateY(2px);
}
.calculator_buttons--numbers {
    height: 80%;
    width: 100%;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
}

.numbers--num {
    width: 80%;
    height: 70%;
    background-color: #99CCFF;
    border-radius: 10px;
    -webkit-box-shadow: 0px 3px 1px 1px rgba(153, 204, 255, 0.54);
    -moz-box-shadow: 0px 3px 1px 1px rgba(153, 204, 255, 0.54);
    box-shadow: 0px 3px 1px 1px rgba(153, 204, 255, 0.54);
    transition: all 0.1s ease;
}
.numbers--num:active {
    transform: translateY(3px);
    box-shadow: none;
}
.calculator_buttons--result {
    border: 1px solid #34eb6b;
    height: 20%;
    width: 100%;
    background-color: #34eb6b;
    border-radius: 10px;
    text-transform: uppercase;
    font-size: 20px;
    color: #241571;
    -webkit-box-shadow: 0px 0px 52px 3px rgba(52, 235, 107, 0.54);
    -moz-box-shadow: 0px 0px 52px 3px rgba(52, 235, 107, 0.54);
    box-shadow: 0px 0px 52px 3px rgba(52, 235, 107, 0.54);
}
.calculator_buttons--result:active {
    background-color: #ffa200;
}

#screen--math{
    height: 100%;
    width: 25%;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
}
#delete {
    background-color: rgb(255, 0, 0);
    border: 1px solid red;
    -webkit-box-shadow: 0px 3px 1px 1px rgba(255, 0, 43, 0.54);
    -moz-box-shadow: 0px 3px 1px 1px rgba(255, 0, 43, 0.54);
    box-shadow: 0px 3px 1px 1px rgba(255, 0, 43, 0.54);
    grid-column: 2/4;
}
#delete:active {
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}
#calculator_screen--text1, #calculator_screen--text2 {
    height: 50%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    font-size: 1.1em;
}
.screen--nums{
    width: 75%;
    height: 100%;
    color: #ffffff;
}